{% extends "layout.html" %}

{% block styles %}{% endblock %}

{% block main %}

<div class="row">
	<div class="column span12">
		<br><br><Br>
		<b>Classnote Entries</b>
		<a class="btn btn-small" href="/admin/entry">Create new entry</a>

		<br><br>

		<table class="table">
		{% for e in entries %}
			<tr>
				<td class="span2">{{ e.class_date.strftime('%Y-%m-%d') }}</td>
				<td class="span3">{{ e.title }}</td>
				<td class="span3">{{ e.description }}</td>
				<td class="span3">
					<a class="btn" href="/admin/entry/edit/{{e.id}}">edit</a>
					<a class="btn" href="entry/{{e.url_title}}">view</a>
				</td>
			</tr>
			
		{% endfor %}
		</table>

		<h2>Pages</h2>
		<table class="table">
		{% for e in pages %}
			<tr>
				<td class="span3">{{ e.title }}</td>
				<td class="span3">{{ e.slug }}</td>
				<td class="span3">
					<a class="btn" href="/admin/page/{{e.id}}">edit</a>
					<a class="btn" href="/page/{{e.slug}}">view</a>
				</td>
			</tr>
			
		{% endfor %}
		</table>
	</div>
	
</div>


{% endblock %}