{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
{% endblock %}

{% block main %}

{{ form.errors }}
<form method="POST" action="/admin/page/{{page_id}}">
	{{ form.csrf_token }}
    <div>
        {{ form.title.label }}:
        {{ form.title }}
    </div>
    <div>
        {{ form.slug.label }}:
        {{ form.slug }}
    </div>

    <div>
        {{ form.content.label }}:
        {{ form.content }}
    </div>

    <input type="hidden" name="page_id" value="{{page_id}}">
    <input type="submit" value="Save">
</form>

{% endblock %}