{% extends "layout.html" %}

{% block styles %}{% endblock %}

{% block main %}

<br>
<div class="page-header">
	<h1>{{ entry.class_date.strftime('%B %d') }}<br>{{entry.title}}</h1>
	<p class="lead">{{ entry.description }}</p>
</div>

<div class="row">
	<div class="col-md-2">
		
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#notes">Class notes</a></li>
			<li><a href="#assignment">Assignment</a></li>
			<li><a href="#discussion">Discussion</a></li>
		</ul>
	</div>
	<div class="col-md-10">

		
		<div id="notes">
			{{ entry.content|markdown }}
		</div>

		<hr>
		<a name="assignment"></a>
		<div class="page-header" id="assignment">
			<h3>Assignment</h3>
			
			
			<div class="row">
				<div class="col-md-10">
					{{ entry.assignment|markdown }}
				</div>
			</div>

			<div class="row">

				<div class="col-md-5">
					<h3>Submitted Assignments</h3>
					<div id="assignment_container">
						{% for a in entry.assignments %}

						<div class="assignment">
							<strong>{{ a.name }}</strong> | {{ a.timestamp.strftime('%B %d') }}
							<p><a href="{{ a.url}}">{{ a.url}}</a></p>
							<p>{{ a.description }}</p>
							<hr/>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-md-5 well" id="submit_form_container">
					<form role="form" name="assignment" action="/notes/{{entry.url_title}}/add_assignment" method="POST">
					<h3>Post your assignment</h3>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="form_name" class="form-control" name="name" required>
					</div>
					
					<div class="form-group">
						<label for="description">Description</label>
						<textarea id="form_description" name="description" class="form-control" rows="3"></textarea>
					</div>

					<div class="form-group">
						<label for="url">URL</label>
						<input type="text" id="form_url" name="url" class="form-control">
					</div>
					

					<input type="email" class="hide" name="email"><!-- honeypot -->
					<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div><!-- row -->
		
		</div>
		
		<a name="discussion"></a>
		<div class="page-header" id="discussion">
			<h3>Discussion</h3>
			
		</div>
		<div class="row">
			<div class="col-md-8">
				<a class="moot" data-show_online="true"
				   href="https://moot.it/i/itpdwd/classnotes/{{entry.url_title}}">
				   Comments for this class topic.
				</a>
		        

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block head %}
   {{ super() }}
   <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- (1) force latest IE rendering engine: http://goo.gl/tf4JH -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   <!-- (1) Moot look and feel -->
   <link rel="stylesheet" href="https://cdn.moot.it/1/moot.css">

   <!-- (4) Custom CSS -->
   <style>
   body {
      font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
      margin: 0; padding: 0;
   }

   .moot {
      font-size: 18px;
   }
   </style>
{% endblock %}

{% block scripts %}
	{{ super() }}
  	<!-- (1) Moot client application -->
   	<script src="https://cdn.moot.it/1/moot.min.js"></script>
{% endblock %}